* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 160px;
}

.photo-card {
  min-height: 218px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  flex-basis: calc((100% - 4 * 40px) / 5);
}

.info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  font-size: 10px;
  text-align: center;
}

.section-form{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #0f614b;
  background-image: url(/src/image/main_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px;
  box-shadow: 0px 2px 12px rgb(29, 25, 25);
}

.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.input-form{
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(6, 6, 6);
  padding: 5px;
  margin-right: 10px;
  outline: #0f614b;
}

.form-button{
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(12, 12, 12);
 background-color: white;
 color: grey;
}


